<div class="container main-container">
<div class="row animated fadeIn fast">
<div class="card-columns" >
  <div class="card" *ngFor="let pelicula of peliculas">
    <img class="card-img-top img-fluid" [src]="pelicula|imagen" [alt]="pelicula.original_title">
    <div class="card-block">
      <h4 class="card-title">{{pelicula.original_title}}</h4>
      <p class="card-text text-justify">{{pelicula.overview | slice:0:300}}...</p>
      <button class="btn btn-outline-primary" 
      [routerLink]="['/pelicula',pelicula.id,'buscaPelicula',buscar]">Ver más</button>
    </div>
  </div>
  </div>
</div>
